config MACH_ASM9260
	bool "Alphascale ASM9260"
	depends on ARCH_MULTI_V5
	select COMMON_CLK
	select IRQ_DOMAIN
	select SPARSE_IRQ
	select MULTI_IRQ_HANDLER
	select GENERIC_IRQ_CHIP
	select GENERIC_CLOCKEVENTS
	select CLKSRC_MMIO
	select CPU_ARM926T
	select STMP_DEVICE
	help
	  Support for Alpascale ASM9260 based platform.
