/*
 * Copyright 2014 Oleksij Rempel <linux@rempel-privat.de>
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

#include "skeleton.dtsi"

/ {
	cpus {
		#address-cells = <0>;
		#size-cells = <0>;

		cpu {
			compatible = "arm,arm926ej-s";
			device_type = "cpu";
		};
	};

	soc {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "simple-bus";
                ranges;

		sregs@80040000 {
			compatible = "alpscale,asm9260-sregs";
			reg = <0x80040000 0x504>;

			clocks {
				#address-cells = <1>;
				#size-cells = <0>;

				osc24m: oscillator {
					compatible = "fixed-clock";
					#clock-cells = <0>;
					clock-frequency = <24000000>;
					clock-accuracy = <30000>;
				};

				pll: pll@0100 {
					compatible = "alpscale,asm9260-pll-clock";
					#clock-cells = <0>;
					clocks = <&osc24m>;
					reg = <0x0100>;
				};

				main_mux: mux@0120 {
					compatible = "alpscale,asm9260-bimux-clock";
					#clock-cells = <0>;
					clocks = <&osc24m>, <&pll>;
					mux-table = <0 1>;
					reg = <0x0120>;
				};

				cpu_div: div@017c {
					compatible = "alpscale,asm9260-div-clock";
					#clock-cells = <0>;
					clocks = <&main_mux>;
					reg = <0x017c>;
				};
			};
		};
	};
};
